@model WebOrganizer.Models.User

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    //this  is for create form tag
    @Html.AntiForgeryToken()          // this is for prevent CSRF attack
  
    if (ViewBag.Message != null)
    {
        <div style="border: 1px solid red">
            @ViewBag.Message
        </div>
    }
    @Html.ValidationSummary(true)   
    <table>
        <tr>
            <td>@Html.LabelFor(a => a.Username, htmlAttributes: new { @class = "control-label col-md-2" })</td>
            <td>@Html.TextBoxFor(a => a.Username, htmlAttributes: new { @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(a => a.Username, "", new { @class = "text-danger" })</td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(a => a.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.PasswordFor(a => a.Password, htmlAttributes: new { @class = "form-control" })
            </td>
            <td>
                @Html.ValidationMessageFor(a => a.Password, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Login" />
            </td>
            <td></td>
        </tr>
    </table>
}