@model IEnumerable<WebOrganizer.Models.FinishedTask>

<h2>Tasks</h2>

@if (Session["LogedUsername"] != null)
{
    <text>
       You did a great job, @Session["LogedUsername"].ToString()!
    </text>

}
<p>
    @Html.ActionLink("Tasks in process", "Index", "Tasks")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TaskDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TaskDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>

        <td>
           
            @Html.ActionLink("Delete", "Delete", new { id=item.TaskID })
        </td>
    </tr>
}

</table>
