@model WebOrganizer.Models.User

@{
    ViewBag.Title = "Register";
}

@*<h2>Register</h2>*@

@section styles
    {
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    @*<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">*@
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/form-elements.css">
    <link rel="stylesheet" href="~/Content/LoginStyle.css">
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

   
        if (ViewBag.Message != null)
        {
            @ViewBag.Message
        }

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="top-content">

            <div class="inner-bg">
                <div class="container">

                    <div class="row">

                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Register</h3>
                                    <p>Enter your username and password</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-lock"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <form role="form" action="" method="post" class="login-form">
                                    <div class="form-group">
                                        <label class="sr-only" for="form-username">Username</label>
                                        @Html.TextBoxFor(a => a.Username, htmlAttributes: new { @class = "form-username form-control", @id = "form-username" })
                                        @Html.ValidationMessageFor(a => a.Username, "", new { @class = "text-danger" })
                                        @*<input type="text" name="form-username" placeholder="Username..." class="form-username form-control" id="form-username">*@
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-password">Password</label>
                                        @Html.PasswordFor(a => a.Password, htmlAttributes: new { @class = "form-password form-control", @id = "form-password" })
                                        @Html.ValidationMessageFor(a => a.Password, "", new { @class = "text-danger" })
                                        @*<input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">*@
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-password">Confirm Password</label>
                                        @Html.PasswordFor(a => a.ConfirmPassword, htmlAttributes: new { @class = "form-password form-control", @id = "form-password" })
                                        @Html.ValidationMessageFor(a => a.ConfirmPassword, "", new { @class = "text-danger" })
                                        @*<input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">*@
                                    </div>
                                    <button type="submit" class="btn">Sign in!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p> Already have an account? @Html.ActionLink("Sign in", "Login", "User") </p>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 social-login">
                            <h3>...or register with:</h3>
                            <div class="social-login-buttons">
                                <a class="btn btn-link-2" href="#">
                                    <i class="fa fa-facebook"></i> Facebook
                                </a>
                                <a class="btn btn-link-2" href="#">
                                    <i class="fa fa-twitter"></i> Twitter
                                </a>
                                <a class="btn btn-link-2" href="#">
                                    <i class="fa fa-google-plus"></i> Google Plus
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        }


        @*@using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>User Registration</h4>
                    @if (ViewBag.Message != null)
                    {
                        @ViewBag.Message
                    }

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Register" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }*@

    

        @section scripts
    {
            <script src="~/Scripts/jquery.backstretch.js"></script>
            <script src="~/Scripts/scripts.js"></script>

        }

        @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
            <script src="~/Scripts/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
