@model WebOrganizer.Models.myModel.AllTasks
 
@{
    ViewBag.Title = "UserDetails";
}

<h2>UserDetails</h2>

<h3>Tasks in proccess</h3>
<table class="table">
    <tr>
        <th>
            Task
        </th>
        <th>
            Start
        </th>
        <th>
            Finish
        </th>
        <th>
            Comments
        </th>

    </tr>
    @foreach (var item in Model.Tasks)
    {
       
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>


        </tr>
    }
</table>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TaskDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
     
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TaskDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
     
        
    </tr>
}

</table>*@

<h3>Finished tasks</h3>
<table class="table">
    <tr>
        <th>
            Task
        </th>
        <th>
            Start
        </th>
        <th>
            Finish
        </th>
        <th>
            Comments
        </th>

        
    </tr>
    @foreach (var item in Model.FinishedTasks)
    {
    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>


        </tr>
    }
</table>
<p>
@Html.ActionLink("Back to List", "Users", "User")
</p>